DT_COMPAT_ZMK_PERIPHERAL_DISPLAY_ASDC := zmk,peripheral-display-asdc

config ZMK_ARBITRARY_SPLIT_DATA_CHANNEL
    bool
    default $(dt_compat_enabled,$(DT_COMPAT_ZMK_PERIPHERAL_DISPLAY_ASDC))
    select BT_L2CAP_DYNAMIC_CHANNEL

config ZMK_ARBITRARY_SPLIT_DATA_CHANNEL_TX_QUEUE_SIZE
    int "Max number of data events to queue when sending"
    default 30
    depends on ZMK_ARBITRARY_SPLIT_DATA_CHANNEL

config ZMK_ARBITRARY_SPLIT_DATA_CHANNEL_RX_QUEUE_SIZE
    int "Max number of data events to queue when receiving"
    default 20
    depends on ZMK_ARBITRARY_SPLIT_DATA_CHANNEL

config ZMK_BT_ASDC_L2CAP_PSM
    hex "L2CAP PSM for Arbitrary Split Data Channel"
    default 0x0080
    depends on ZMK_ARBITRARY_SPLIT_DATA_CHANNEL
